// media query
@mixin d($size) {
  @if $size == l {
  } @else if $size == m {
    @media screen and (max-width: $m-device) {
      @content;
    }
  }
}

// h2, h2 mobile and h3
@mixin h($size) {
  font-family: "Barlow Semi Condensed", sans-serif;
  @if $size == 2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }
  @if $size == mobi {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  //
  @else if $size == 3 {
    font-size: 1.3rem;
  }
}

// paragraph
@mixin p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

// structure Grid desktop and mobile
@mixin structure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jaenette patrick patrick kira";
  margin: 0 auto;
  max-width: $l-device;
  gap: 24px 30px;

  @include d(m) {
    grid-template-columns: 100%;
    grid-template-areas:
      "daniel"
      "jonathan"
      "jaenette"
      "patrick"
      "kira";
  }
}

// content space
@mixin content-structure {
  padding: 30px;
}

// netting edge and more or less round
@mixin border($size) {
  @if $size == 50 {
    border-radius: 50%;
  } @else if $size == 7 {
    border-radius: 7px;
  }
}
