@mixin d($size) {
  @if $size == l {
  } @else if $size == m {
    @media screen and (max-width: $m-device) {
      @content;
    }
  }
}

@mixin h($size) {
  font-family: "Barlow Semi Condensed", sans-serif;
  @if $size == 2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }
  @if $size == mobi {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  //
  @else if $size == 3 {
    font-size: 1.3rem;
  }
}

@mixin p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@mixin structure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jaenette patrick patrick kira";
  margin: 0 auto;
  max-width: $l-device;
  gap: 24px 30px;

  @include d(m) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

@mixin content-structure {
  padding: 30px;
}

@mixin border($size) {
  @if $size == 50 {
    border-radius: 50%;
  } @else if $size == 7 {
    border-radius: 7px;
  }
}
