.structure {
  @include structure;
}

.content-structure {
  @include content-structure;
  @include border(7);
}

.bg-absolute {
  width: 150px;
  z-index: -1;
  position: absolute;
  top: 0%;
  right: 0;
  transform: translateX(-40px);
  @include d(m) {
    width: 145px;
    transform: translateX(-20px);
  }
  .bg {
    border-radius: 0;
    width: 100%;
    border: 0 solid;
  }
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include d(m) {
    margin-bottom: 10px;
  }
}

.rows {
  margin-left: 20px;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-70 {
  opacity: 70%;
}

.daniel,
.jonathan,
.patrick {
  h2,
  h3,
  p {
    color: $white;
  }
}

.daniel {
  position: relative;
  z-index: 2;
  grid-area: daniel;
  background: $moderate-violet;
  img {
    border: 3px solid #a57bd5;
  }
}

.jonathan {
  grid-area: jonathan;
  background: $very-dark-grayish-blue;
  .p-jonathan {
    max-width: 90%;
  }
  @include d(m) {
    max-width: 100%;
  }
}

.kira,
.jaenette {
  background: $white;
  h2,
  h3,
  p {
    color: $very-dark-blackish-blue;
  }
}

.kira {
  grid-area: kira;
  @include d(m) {
    max-width: 100%;
  }
}

.jaenette {
  grid-area: jaenette;
  h2 {
    max-width: 85%;
  }
}

.patrick {
  grid-area: patrick;
  background: $very-dark-blackish-blue;
  img {
    border: 3px solid #6c509a;
  }
  @include d(m) {
    max-width: 100%;
  }
}
